.form-item{
    margin-top: 5rem;
}

.form-item label{
    display: block;
    margin-bottom: .4rem;
    font-weight: bold;
}

.form-item_input{
    margin-top: .8rem;
}

.form-item_input input{
    width: 100%;
    height: 1.8rem;
    border: 1px solid rgba(173, 173, 173, 0.726);
}

