.card {
  margin: 0 auto;
  padding: 1.6rem 2.2rem;
  width: 40rem;
  background-color: rgb(251, 253, 255);
  box-shadow: 0 1px 8px rgba(148, 129, 129, 0.25);
  letter-spacing:0.5px;
  border-radius:15px;
  margin-bottom:1.5rem;
}
